# dependencies
node_modules/

# next.js
.next/
out/

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# editor
.vscode/
.idea/

# coverage
coverage/

